{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Simple API",
    "description": "A simple API to learn how to write OpenAPI Specification"
  },
  "schemes": [
    "https"
  ],
  "host": "conceptmap.cfapps.io",
  "basePath": "/",
  "paths": {
    "/articlesearch": {
      "get": {
        "summary": "Search articles.",
        "description": "Returns all the result returned from wikidata.",
        "parameters": [
          {
            "name": "title",
            "in": "query",
            "description": "search keyword",
            "type": "string"
          },
          {
            "name": "nearmatch",
            "in": "query",
            "description": "candidate of result.",
            "type": "boolean"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "language",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of titles",
            "schema": {
              "type": "array",
              "items": {
                "required": [
                  "username"
                ],
                "properties": {
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}